services:
  - type: web
    name: ml-platform-backend
    env: node
    region: oregon
    plan: free
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 5000
      - key: MONGODB_URI
        sync: false
      - key: JWT_SECRET
        generateValue: true
      - key: ML_SERVICE_URL
        value: https://machine-learning1-services-4.onrender.com
      - key: FRONTEND_URL
        value: https://machine-learning-platform-theta.vercel.app
    healthCheckPath: /health
